<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{352,0},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,195},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{352,195},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,390},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{352,390},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,585},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{352,585},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,780},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{352,780},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,975},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{352,975},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1170},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{352,1170},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1365},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{352,1365},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1560},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{352,1560},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1755},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bg10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,195}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,195}</string>
				<key>spriteSourceSize</key>
				<string>{352,195}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{352,1755},{352,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>anbg.png</string>
				<key>textureFileName</key>
				<string>anbg</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
